########################################################################################################################
#
# .gitignore: Rule set containing all file types which are excluded from committing.
#
#============================== Eclipse ================================================================================
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject

#============================== Windows ================================================================================
Thumbs.db
Desktop.ini

#============================== Build ==================================================================================
build/**/*
*.a
*.d
*.elf
*.prepatch
*.map
*.hex
*.bin
*.srec

